@import "tailwindcss";

@theme {
  --color-brand-dark: #0a0a5c;
  --color-brand-primary: #100a60;
  --color-brand-accent: #3b32b3;
}

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased;
  }
}

@layer utilities {
  .bg-topo {
    background-color: var(--color-brand-dark);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-none stroke='%23ffffff' stroke-opacity='0.1' stroke-width='1'%3E%3Cpath d='M-100 400c0-100 100-100 100-200s100-100 200-100 100 100 200 100 100-100 100-200 100-100 100-100'/%3E%3Cpath d='M-100 600c0-100 100-100 100-200s100-100 200-100 100 100 200 100 100-100 100-200 100-100 100-100'/%3E%3Cpath d='M-100 800c0-100 100-100 100-200s100-100 200-100 100 100 200 100 100-100 100-200 100-100 100-100'/%3E%3Cpath d='M-100 200c0-100 100-100 100-200s100-100 200-100 100 100 200 100 100-100 100-200 100-100 100-100'/%3E%3Cpath d='M-100 0c0-100 100-100 100-200s100-100 200-100 100 100 200 100 100-100 100-200 100-100 100-100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  .curved-bottom {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }

  .curved-top {
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
  }
}
